.top {
    display: flex;
  }
  
  .one {
    flex: 50%;
    padding-right: 40px;
  }
  img {
    width: 50%;
    height: auto;
  }
  h1{
      font-style: normal;
  }


  .services{
    /* height: 100vh; */
    /* margin-top: 20px; */
    font-family: var(--default-font-style);
}
.services-page{
    display: flex;
    /* width: 80%; */
    margin: 0 auto;
    flex-direction: column;
}
.services-heading {
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 10px ;
}
.services-heading h1{
    text-align: center;
}
.services-inner-page{
    display: flex;
    margin-top: 20px;
}
.service-head{
    font-family: var(--default-font-style);
    margin: 30px;
}
.services-inner-page img{
  
        width: 70%;
      
}
.services-btn{
    margin-top: 50px;
}
.left-padding{
    padding-left: 20px;
    padding-left: 20px;

}

a{
    background-color: #EC4067;
}
p{
    display: block;
}
.col-6-left-services-page{
    width: 600px;
    height: 400px;
}